@import url(bootstrap.min.css);
.topbar>h1 {
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 80px;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: 2px 2px darkblue;
    padding-top: 50px;
    padding-bottom: 75px;
    background-image: url(../image/00_generic_facebook-001.jpg);
    background-size: cover;
    background-position: 0px -185px;
    margin: 0px;
}

.navi {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    margin-top: -56px;
    margin-bottom: 30px;
}

.navi a {
    color: inherit;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
}

.dropdown {
    display: inline-block;
}

.dropdown .dropbtn {
    border: none;
    color: inherit;
    padding: 10px 50px;
    background-color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #fdfdfd3d;
    color: white;
    text-shadow: 2px 2px darkblue;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #515151af;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: inherit;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: smaller;
    font-family: inherit;
}

.dropdown:hover .dropdown-content {
    display: block;
}